<template>
  <div class="account-page">
    <div class="columns">
      <div class="column is-3">
        <ul class="side-bar">
          <li class="is-size-4">
            <router-link to="/account/basic-info">Basic Info</router-link>
          </li>
          <li class="is-size-4">
            <router-link to="/account/security">Security</router-link>
          </li>
        </ul>
      </div>
      <div class="column">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (!vm.$store.state.logined) {
        vm.$router.replace({
          name: "login",
          params: { from: "account-basic-info" }
        });
      }
    });
  },
  data() {
    return {};
  }
};
</script>
<style lang="scss">
.account-page {
  .side-bar {
    li {
      border-bottom: 1px solid gray;
      padding: 1rem;
    }
  }
}
</style>
