<template>
  <div class="login-page">
    <login-form></login-form>
  </div>
</template>
<script>
import LoginForm from "@/components/LoginForm";
export default {
  components: {
    LoginForm
  },
  metaInfo: {
    title: "Login"
  }
};
</script>
