<template>
  <div class="product-details">
    <product-details :product="product"></product-details>
    <div class="section">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <button class="button" @click="$router.back()">Back</button>
          </div>
        </div>

        <div class="level-right">
          <div class="level-item">
            <button @click="addToCart" class="button is-primary">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import productList from "@/models/products";
import ProductDetails from "@/components/ProductDetails";
export default {
  components: {
    ProductDetails
  },
  props: ["id"],
  data() {
    return {
      product: null
    };
  },
  created() {
    this.product = productList.find(x => {
      return x.id == this.id;
    });
  },
  methods: {
    addToCart() {
      this.$store.dispatch("cart/addProductToCart", this.product);
    }
  },
  metaInfo() {
    return {
      title: this.product.name
    };
  }
};
</script>
