<template>
  <div class="account-info-form">
    <h1 class="title">Basic Info</h1>
    <h2 class="subtitle">Username: {{ accountInfo.username }}</h2>
    <div class="field">
      <label class="label">Firstname</label>
      <div class="control">
        <input
          v-model="accountInfo.firstname"
          class="input"
          type="text"
          placeholder="Text input"
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Lastname</label>
      <div class="control">
        <input
          v-model="accountInfo.lastname"
          class="input"
          type="text"
          placeholder="Text input"
        />
      </div>
    </div>
    <div class="field">
      <button class="button is-primary is-large">Save</button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      accountInfo: {
        username: "mary",
        lastname: "Mary",
        firstname: "Chan",
        password: "12345"
      }
    };
  }
};
</script>
<style lang="less">
</style>
