<template>
  <div class="login-form">
    <div v-if="errors.length > 0" class="errors">
      <ul>
        <li v-for="error in errors" :key="error" class="has-text-danger">
          {{ error }}
        </li>
      </ul>
    </div>

    <b-field
      :label="$t('loginPage.username')"
      :type="{ 'is-danger': validation.hasError('username') }"
      :message="$t(validation.firstError('username'))"
    >
      <b-input v-model="username"></b-input>
    </b-field>

    <b-field
      :label="$t('loginPage.password')"
      :type="{ 'is-danger': validation.hasError('password') }"
      :message="$t(validation.firstError('password'))"
    >
      <b-input v-model="password" type="password"></b-input>
    </b-field>
    <div class="field" @click="login">
      <button class="button is-large is-primary">{{ $t("login") }}</button>
    </div>
  </div>
</template>
<script>
import SimpleVueValidation from "simple-vue-validator";

const Validator = SimpleVueValidation.Validator;
export default {
  props: ["from"],
  data() {
    return {
      errors: [],
      username: "",
      password: ""
    };
  },
  validators: {
    username: function(value) {
      return Validator.value(value).required(this.$t("errors.required"));
    },
    password: function(value) {
      return Validator.value(value).required(this.$t("errors.required"));
    }
  },
  methods: {
    login() {
      this.errors = [];

      this.$validate().then(result => {
        if (result) {
          if (this.username == "mary" && this.password == "password") {
            // user.dispatch("login");
            this.$store.dispatch("user/login");
            if (this.from) {
              this.$router.replace({ name: this.from });
            } else {
              this.$router.replace({ name: "home" });
            }
          } else {
            this.errors.push("Username or password is not match");
          }
        }
      });
    }
  }
};
</script>
