<template>
  <div class="product-card card" @click="goToDetails">
    <div class="card-image">
      <figure class="image is-4by3">
        <img :src="product.image" />
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="is-size-3">{{ product.name }} MOP:{{ product.price }}</p>
        <p>{{ product.desc }}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    product: {
      type: Object
    }
  },
  methods: {
    goToDetails() {
      this.$router.push({ name: "product", params: { id: this.product.id } });
    }
  }
};
</script>
<style lang="scss">
.product-card {
  cursor: pointer;
  .card-content {
    .content {
      p {
        max-lines: 3;
        overflow: hidden;
      }
    }
  }
}
</style>
