<template>
  <div class="product-details">
    <div class="columns">
      <div class="column is-three-fifths">
        <div class="image">
          <img :src="product.image" />
        </div>
      </div>
      <div class="column">
        <p class="is-size-4">{{ product.name }}</p>
        <p class="is-size-3">{{ product.price }}</p>
        <p>{{ product.desc }}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["product"]
};
</script>
<style lang="scss">
</style>
