<template>
  <div id="app">
    <div class="header">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-menu">
            <div class="navbar-start">
              <router-link to="/" class="navbar-item">Products</router-link>
              <router-link :to="{ name: 'cart' }" class="navbar-item"
                >Cart
                <span v-show="cartItemsCnt > 0"
                  >({{ cartItemsCnt }})</span
                ></router-link
              >
              <router-link to="/about" class="navbar-item">About</router-link>
              <router-link v-if="isLogined" to="/account" class="navbar-item"
                >My Account</router-link
              >
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="level">
                  <div v-if="!isLogined" class="level-item">
                    <div class="buttons">
                      <router-link to="/login" class="button is-light">{{
                        $t("login")
                      }}</router-link>
                    </div>
                  </div>

                  <div v-else class="level-item">
                    <span>{{ $t("welcome", ["Mary"]) }}</span>
                    <button @click="logout" class="button is-light">
                      Logout
                    </button>
                  </div>

                  <div class="level-item">
                    <a @click="changeLang('en')">En</a>
                  </div>
                  <div class="level-item">|</div>
                  <div class="level-item">
                    <a @click="changeLang('zh')">中</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <router-view />
      </div>
    </div>
  </div>
</template>
<script>
import "bulma/css/bulma.css";
import { mapGetters } from "vuex";
import cart from "@/store/modules/cart";

export default {
  computed: {
    cartItemsCnt() {
      return cart.state.cart.getItemsCount();
    },
    ...mapGetters("user", ["isLogined"])
    // isLogined() {
    //   return this.$store.state.logined;
    // }
  },
  methods: {
    logout() {
      this.$store.dispatch("user/logout");
    },
    changeLang(lang) {
      this.$i18n.locale = lang;
    }
  },
  metaInfo: {
    title: "Shoes Store",
    titleTemplate: "%s | Home"
  }
};
</script>
